name,price,category_id
AGUA INYECTABLE 1000 ml.,70,4788
AGUA OXIGENADA  1lt,100,3455
CLORANFENICOL GOTAS,80,3174
CLONICLINA,70,3181
JABONCITO,5,3448
JERINGA C/ AGUJA,10,541
JERINGA DE 10 (CON/ SIN AGUJA),10,541
JERINGA DE 20,20,541
JERINGA DE 3,10,541
JERINGA DE 5,10,541
JERINGA DE 60,120,541
PAQUETE DE COMPRESAS ESTERILES,250,477
MICRONEBULIZADOR P/ADULTO,100,498
METILPREDNISOLONA 500 mg,350,4611
METAMIZOL 1 g I.V,70,3983
